<h1 class="text-center text-decoration-underline">Student Dashboard</h1>

<div class="container">
  <h2>Student Table</h2>
  <button
    class="float-end mb-2 btn btn-outline-primary b-5"
    [routerLink]="['/add-student']"
  >
    Add Student +
  </button>
  <button
    class="float-start mb-2 btn btn-outline-primary b-5"
    [routerLink]="['/home']"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-return-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
      />
    </svg>
    Back
  </button>

  <table class="table table-bordered">
    <thead class="table-secondary border-dark">
      <tr>
        <th>Student ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Department</th>
        <th>Student Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-bordered border-dark">
      <tr *ngFor="let student of studentlist">
        <td>{{ student.stud_id }}</td>
        <td>{{ student.stud_firstname }}</td>
        <td>{{ student.stud_lastname }}</td>
        <td>{{ student.dept_name }}</td>
        <td>{{ student.stud_type }}</td>
        <td>
          <button class="btn btn-primary" (click)="editStudent(student)">
            Edit
          </button>
        </td>
        <!-- <td>Full Time</td> -->
      </tr>
    </tbody>
  </table>
</div>
